/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0
 * @invite TeRQEPb
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('//DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('//i.imgur.com/7SbtKvw.png');
    --home-image: url('//i.imgur.com/233d55Y.gif');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
    --test: 1;
}
